 .AMmain{
    background-color: white;
    
 }
 .AMmainHeader{
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    padding: 150px 0;
    text-align: center;
    color: white;
 }
 .AMmainHeader h1{
    display: inline;
    margin-top: 90px;
    color: white;
    border-bottom: 6px solid #fff;
    font-size: 3rem;
    font-weight: bolder;
 }
 .AMmainHeader h2{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 2rem;
 }
.AMbodyTop{
    padding: 80px 70px;
}
.AMbody{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }
.AMbody img{
    float: right;
}

.AMbody div{
    margin-right: 90px;
}
.AMbody div h1{
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 900;
}
/* .AMbody img{
    margin: 70px;
} */
.AMbodydesmain{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.AMbodydesmain .AMbodydesbody h6{
        border: 3px solid orange;
        padding: 4px 20px;
        border-radius: 50%;
        font-size: 2rem;
        background-color: yellow;
        z-index: 2;
        position: absolute;
        top: 0;
        left: -30px;
}
.AMbodydesbody div{
    margin: 30px;
}
.AMbodydesmain .AMbodydesbody{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-left: 2px solid orange;
}
.AMbodydesbody.eb{
    border-left: none; 
}
.AMbodydesmain .AMbodydesbody h1{
    font-size: 1.5rem;
    font-weight: bold;
}
.AMbodydesmain .AMbodydesbody p{
    margin-top: 20px;
}
/* card */
.AMsec3{
    background-color: #482987;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    color: #fff;
}
.AMsec3 h1{
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;

}
.AMsec3body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
}
.AMsec3body div{
    width: 250px; 
    padding: 30px 0;
}
.AMsec3body h2{
    font-size: 1rem;
    font-weight: bolder;
    padding: 20px 0;
}
.AMsec5{
    text-align: center;
    margin: 30px 0;
}
.AMsec5 h1{
    font-size: 2rem;
    font-weight: bolder;

    color: #482987;
}

/*  */
@media(max-width:500px) {
    .AMbody{
    flex-direction: column;
     }
     .AMbodyTop{
        padding: 10px 20px;
    }
    .AMbody div{
        margin-right: 10px;
    }
    .AMbodydesmain .AMbodydesbody h6{
        border: 2px solid orange;
        padding: 2px 10px;
        border-radius: 50%;
        font-size: 1rem;
        background-color: yellow;
        z-index: 2;
        position: absolute;
        top: 0;
        left: -16px;
    }
    .AMbodydesbody div{
        margin: 10px;
    }

}