/* .CImain{
    padding: 0 70px;
} */
.CItop{
    padding: 140px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    color: white;
    text-align: center;
}
.CItop h2{
    font-size: 2.2rem;
    font-weight: 700;
}
.CItop h1{
    display: inline-block;
    font-size: 3rem;
    font-weight: bolder;
    border-bottom: 6px solid #fff;
}
.CIbody{
    padding:100px  70px 10px 70px;
}
.CIbody .img1{
    float: left;
    margin-right: 20px;
}
.CIbody h4{
    font-size: 1rem;
    font-weight: bold;
}
.CIbody h5{
    font-size: 2rem;
    font-weight: bold;
}

    /*  */
.CIfooter{
    display: flex;
    padding: 10px 70px;
    justify-content: space-between;

}
.CIfooter p{
    margin: 0 30px;

}
 
.CIfooter2 {
    display: flex;
    justify-content: space-evenly;
    
    padding: 0 70px;
}
.CIfooter2 img{
    width: 500px;
    margin-right: 30px;
}
.CImainfooter{ 
    text-align: center;
    padding-top: 40px;
    padding: 10px 70px;
}
 .CImainfooter h1{
    font-size: 2rem;
    color: purple;
    font-weight: bolder;
}
 .CImainfooter p{
    font-size: 1rem; 
    margin-top: 20px;
    font-weight: normal;
}
.CICI .deleteCI{
    display: none;
}
/* media query */
@media (max-width:500px) {
    .CIbody{
        padding:10px  20px;
    }
    .CIfooter{
        flex-direction: column;
        padding: 10px 20px; 
    
    }
    .CIfooter p{
        margin: 10px 0 ;
    
    }

    .CIfooter2 {
        flex-direction: column;
    padding: 10px 20px;
}
}

