 .contactHeader{
    padding: 130px 0 100px 0  ;
    text-align: center;
    background-size: cover;
    font-size: 3rem;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}
 .contactHeader h1{
    display: inline-block;
    border-bottom: 4px solid #fff;
    margin: 20px 0 0 0;
    font-weight: bolder;
    color: white;

 }  

 /* contactheaderbody */
 .contactheaderbody{
    padding:  110px 110px 50px 110px;
    text-align: center;
 }
 .contactheaderbody h1{
    font-size: 2rem;
    font-weight: bolder;
 }
 .contactheaderbody p{
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 100;
 }
 /* contact us section 2 */
 .cssection2{
    background-image: linear-gradient(#9b51e0, #482987); 
    display: flex;
    padding: 70px 20px;
    flex-wrap: wrap;
    justify-content: space-evenly; 
 }
 .cssection2 h1{
    font-size: 2rem;
    font-weight: bolder;
    color: white;
 }
 .cssection2 div{
    margin: 20px;
 }
 .cssection2 p{
    font-size: 1rem; 
    color: white;
 }

 /* conact us section 3 */
 .cssection3{
    padding: 100px 30px;
 }
 .cs3h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
 }

 .cs3div{
    display: flex; 
    justify-content: space-evenly;
    
 }
 .cs3div .cs3left{
    padding: 30px 50px; 
 }
 .cs3div .cs3left h1{
    font-size: 2rem;
    font-weight: bold;
 }
 .cs3div .cs3left input{
    height: 40px;
    display: block;
    margin-top: 10px;
    border-radius: 10px; 
    padding: 0 20px;
    width: 400px;
    color: black; 
    background-color: #e5e7eb;
 }
 .cs3div .cs3left textarea{  
    display: block;
    margin-top: 10px;
    border-radius: 10px; 
    padding:  20px; 
    background-color: #e5e7eb;
 }
 .cs3div .cs3left button{
    
    margin: 40px auto;
    padding: 20px 50px;
    font-weight: 900;
    color: white;
    background-color: orange;
    border-radius:5%;
    justify-content: center;
    align-self: center;
    align-items: center;


 }



 /*  */
 .cs3div .cs3right{
    padding: 30px 0;
 }
 .cs3div .cs3right h1{
    font-size: 2rem;
    font-weight: bold;
 }
 .cs3div .cs3right div{
    margin-top: 20px;
 }
 .cs3div .cs3right h2{
    font-size: 2rem;
    display: inline;  
    font-weight: bold;
 }
 .cs3div .cs3right i{
    color: orange;
    margin-left: 20px;
 }
 .cs3right div{
    display: block;
    width: 100%;
 }
 .cs3right img{
    display: inline;
    object-fit: contain;  
 }

 /* adress bar  */
 .cs3Topdiv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 40px 65px;

 }
 .cs3Topdiv div {
    background-color: rgb(218, 212, 212);
    padding: 0 10px; 
    position: relative; 
    border-radius: 10px;
    overflow: hidden;
    transition: all 2s ease-in-out;

 }
 .cs3Topdiv i{
    position: absolute;
    top: 15px;
    right: 25px;
    color: orange;
 }
 /* address */
 .aa{
    height: auto;
 }
 .dd{
    height: auto;
 }
 .cc{
    height: 45px;
 }
 .bb{
    height: auto;
 }
 .cs3Topdiv h1{
    font-size: 2rem;
    font-weight: bolder;
 }
  



 @media(max-width:900px) {
    /*  */
    .contactheaderbody{
        padding:  70px 20px; 
     }
    .contactheaderbody h1{
        font-size: 1rem; 
     }
     .contactheaderbody p{ 
        font-size: .6rem; 
     }
    /*  */
    .cssection2{ 
        justify-content: center;
        align-items: center;
        padding: 70px 0; 
     }
     /*  */

 .cs3div{
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .cs3div .cs3left{
    padding: 30px 20px; 
 }
 .cs3div .cs3left input{ 
    padding: 0 20px;
    width: 300px; 
 }



 
 .cs3div .cs3right{
    align-items: center;
    justify-content: center;
 }
 .cs3div .cs3right div img{
    width: 100%;
    margin-top: 10px;
 }
/*  */
.cs3Topdiv{ 
    padding: 40px 10px;

 }
 .cs3Topdiv div{ 
    margin-top: 30px; 
 }
    
 }