h2{
    font-size: 1.4rem;
    font-weight: bold;
}

.cybermain{
    margin-top: 60px;
    padding: 20px 70px;
}
.cyberdivtwo .img3{
    width: 700px;
    float: left;
}
.img4{
    width: 100%;
    object-fit: cover;
}
@media (max-width:500px) {
    .cybermain{
        margin-top: 20px;
        padding: 10px 20px;
    }
}