.offermaindiv{
    padding: 50px 10px;
}
 
.offerdiv{ 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.offersubdiv{
    display: flex;
    width: 500px;
    margin: 10px;
}
.offersubdiv img{
    padding: 20px;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}
.offersubdivone{
    padding: 20px 0;
}
.offersubdivtwo{
    padding: 20px;
}

@media(max-width:1000px){
    .offersubdiv{
        width: 800px; 
    }
    h1{
       font-size:  1rem;
    }
    
    .offersubdivtwo h1{
        font-size: 1.2rem;
    }
}