.testimonialmaindiv{
    padding: 50px;
    align-items: center;
    justify-content: center;
}
.testimonialmaindiv h1{
    padding: 10px 0 ;
}

.testimonialdiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.testimonialdiv div{
    max-width: 550px;
    padding: 10px;
    margin: 10px 0;
}



/* here we have included csscode for clients as well */

.clientsdiv h1{
    font-size: 4rem;
}
.clientsdiv div{
    width: 100%;
    height: 100%;

}
 
/*media query for both pages  */
@media(max-width:800px)
{
    .testimonialmaindiv{
        padding: 20px;
        margin: 0;
    }
    .testimonialdiv{
        justify-content: center;
       flex-direction: column;
        
    }
    /*  */
    .clientsdiv h1{
        font-size: 2rem;
    }
   
     
}