

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.NetworkingHeader{
    padding: 130px 0 100px 0  ;
    text-align: center;
    background-size: cover;
    font-size: 3rem;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}
 .NetworkingHeader h1{
    display: inline-block;
    border-bottom: 4px solid #fff;
    margin: 20px 0 0 0;
    font-weight: bolder;
    color: white;

 }  
 .NetworkingHeader h2{ 
    font-size: 2rem;
    font-weight: bolder;
    color: white;

 } 
.Networking img{
    padding: 0 70px;
}
.NetworkingTop{
    padding: 90px 70px;
}
 
/* OFFER SECTION CSS */
.offermaindiv{
    padding: 50px 10px;
}
 
.offerdiv{ 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.offersubdiv{
    display: flex;
    width: 500px;
    margin: 10px;
}
.offersubdiv img{
    padding: 20px;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}
.offersubdivone{
    padding: 20px 0;
}
.offersubdivtwo{
    padding: 20px;
}

.offersubdiv:hover{
    transform: all 2s ease;
    box-shadow: 0 3px 3px gray;
}

@media(max-width:1000px){
    .offersubdiv{
        width: 800px; 
    }
    h1{
       font-size:  1rem;
    }
    
    .offersubdivtwo h1{
        font-size: 1.2rem;
    }
}


@media(max-width:500px){
    .NetworkingHeader{
        padding: 130px 0 70px 0  ;
         
    }
    .Networking img{
        padding: 0 10px;
    }
    .NetworkingTop{
        padding: 10px 20px;
    }
}

