.card {
    position: relative;
    width: 200px;
    height: 220px;
    margin: 10px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .back h3 {
    position: absolute;
    /* bottom: 0; */
    /* width: 100%; */
    height: 45px;
    line-height: 45px;
    color: #fff;
    /* background: rgba(0, 0, 0, .4); */
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    text-align: center;
    box-shadow: 0 5px 10px #000;
}


.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
.roundedbanner{
    padding-top: 90px;
    padding-bottom:0;
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
}

.bannermaindiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px;
}
.bannerdivleft{
    padding: 40px;
    width: 50%;
}
.bannerdivright{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    width: 50%;

}


@media(max-width:800px) {
    .bannermaindiv{
        flex-direction: column;
        height: auto;
    }
    .bannerdivleft{ 
        width: 100%;
    }
    .bannerdivright{ 
        width: 100%;
    
    }
    
}