@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 

}

.footerdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #371087;
    color: white;
    padding: 50px 40px; 

}
.bottomsocial a{
    padding-right: 10px ;
}
.bottomlinks{
    cursor: pointer;
}

@media (max-width:800px) {
    .footerdiv{
        flex-direction: column;
        align-items: flex-start;
    }
    
}
