@import url( 'https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.clientouter {
    display: flex;
    justify-content: center;
    padding:65px  100px 70px  100px;
    width: 100%; 

}
.clientinner {
    padding: 0 10px;
    width: 1200px;
}
.clientsdiv{
    padding: 0 ;

}
 
.clientinner h1 {
    text-align: center;
    color: #482987;
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
}
 
 
 
 
@media screen and (max-width:1200px) and (min-width:750px) {

    .clientouter{
        margin-top: 25px; 
        padding: 65px 70px 0 70px ;
    }
    .clientinner {
        padding: 0 70px;
        width: 100vw;
    }
    .clientsdiv{
        padding: 0 10px;
    }
 
    .clientouter h1 {
        text-align: center;
        color: #482987;
        margin-bottom: 70px;
        font-size: 38px;
        line-height: 60px;
        font-weight: 700;
    }

 
}
   
@media screen and (max-width:750px) and (min-width:200px) {

    .clientouter{
        margin-top: 10px; 
        padding: 65px 0 0 0 ;
    }
    .clientinner {
        padding: 0 ;
        width: 100vw;
    }
    .clientsdiv{
        padding: 0 20px;
    }
 
    .clientouter h1 {
        text-align: center;
        color: #482987;
        margin-bottom: 70px;
        font-size: 28px;
        line-height: 60px;
        font-weight: 700;
    }

}
