*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Networkingouter{
width: 100%;
display: flex;
padding: 30px 70px;
margin-top: 20px;
justify-content: center;
}
.Networkinginner{
    padding: 0 10px;
    width: 1200px;

}
.Networkingbody{
    margin: 0;
}
.Networkingbody p{
    font-size: 15px;

    line-height: 21px;
    font-weight: 400;
    color: #474747;margin-bottom: 10px !important;
}
 

@media screen and (max-width:750px) {
    .Networkingouter{
        width: 100%;
        display: flex;
        padding: 30px 0px;
        justify-content: center;
        }
        .Networkinginner{
            padding: 0 20px;
            width: 100vw;
        
        }
        .Networkingbody{
            margin: 20px 0;
        }
        .Networkingbody p{
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            color: #474747;margin-bottom: 10px !important;
        }
       
}